.offset-bt-1 {
    margin-bottom: 8.33333%;
}

.coin-feature-box {
    background-color: #47464f;
    padding: 2%;
}
.features-content {
    text-align: center;
}
.features-content p {
    line-height: 27px;
    max-width: 350px;
    margin: 0 auto 30px;
}

.text-white {
    color: #fff !important;
}
.mt-2, .my-2 {
    margin-top: 0.5rem !important;
}

.section_heading {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
.font-weight-bold {
    font-weight: 700 !important;
    color: #121158;
}

.section_heading p {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #515184;
}

.features-content span i {
    font-size: 36px;
}

.col-border-right {
    border-right: 1px solid #121158;
}
.features-content span i {
    color: #2F2CD8;
    font-size: 36px;
}

.features-content h4 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
