
  .ask_question{
    margin: 20px 0 20px 0;
  }
  .section_heading {
    position: relative;
    text-align: center;
}
.lower_block{
    margin: 50px 0 80px 0;
}
.section_heading span {
    font-size: 24px;
    font-weight: 500;
    color: #2F2CD8;
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
}
.section_heading span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 50px;
    height: 2px;
    background: #2F2CD8;
    bottom: -15px;
    margin: 0 auto;
}
.section_heading h3 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 10px;
    color: #121158;
    font-weight: 600;
}
.section_heading p {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #515184;
}

.features-content {
    text-align: center;
}
.features-content span i {
    color: #2F2CD8;
    font-size: 36px;
}
.features-content h4 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.features-content p {
    line-height: 27px;
    max-width: 350px;
    margin: 0 auto 30px;
}

.footer {
    padding: 20px 0;
    background: #2725c6;
}
.copy_right {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    opacity: 0.5;
}