

.section5b{
 
  
  .sec_5b_2 {
    text-align: center;
    .text {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #737373;
      h3 {
        margin-bottom: 50px;
        font-family: Montser;
      }
    }
  }
} 

.section3b{
  .container_custom {
    width: 90%;
    margin: auto;
  }
  figcaption {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .custom_heading{
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 59px;
      text-align: center;
      margin-bottom: 80px;
      span {
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        display: block;
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    &:first-child{
      border-bottom: 1px solid #343434;
      padding-bottom: 30px;
    }
    &:last-child {
      padding-top: 50px;
    }
    li {
      width: 100%;
      text-align: center;
      position: relative;
    }
    h4{
      font-family: Montserrat;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 20px;
    }
    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      padding: 0 15%;
    }
  } 
} 
.section3b ul:first-child li::after {
  content: "";
  position: absolute;
  z-index: 999;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: -38px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #868686;
}


.section6_c {
  // background: url(../images/last-sec.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  padding: 80px 0;
  background-color: #0F1525;
  text-align: center;
  .section6_c_wrap {
    text-align: center;
    color: #fff;
    p {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      width: 46%;
      margin: 0 auto 50px;
    }
    a {
      background: #1A4DD7;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      color: #fff;
      width: 240px;
      height: 51px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-decoration: none;
      text-align: center;
    }
  }
}

.sec_5c {
  padding: 80px 0;
  text-align: center;
  background-color: #0b0f1c; 
  color: #fff;
  img {
    width: 80px;
  }
  .sec_5b_2 {
    text-align: center;
    h3 {
      margin-bottom: 50px;
      font-family: Montserrat;
      font-style: normal;
      color: #fff;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        width: auto;
        text-align: center;
        margin-right: 30px;
      }
    } 
  }
}