.form-group{
    margin-bottom: 30px;
    label{
        color:$black-shade-1;
        font-size: 14px;
        letter-spacing:0.5px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .form-control{
        height:50px;
        border: 2px solid $gray;
        border-radius: 0; 
        @include transition(all 0.5s);
        &:focus{
            box-shadow: none;
            border-color: $primary-color;
        }
        &::placeholder{
            font-size: 14px;
            color: $black;
            opacity: 0.6;
            font-weight: 400;
            transform: scale(1);
        }   
    }
    textarea{
        resize: none;
        min-height: 100px;
    }
}